dill==0.3.4
Cython==0.29.28
importlib-metadata==4.8.2
joblib==1.1.0
matplotlib==3.4.3
numpy==1.20.3
pandas==1.3.4
plotly==5.3.1
python-dateutil==2.8.2
scikit-learn==1.0.1
scipy==1.7.2
shap==0.40.0
tqdm==4.62.3
ipykenel
more_itertools==8.12.0
seaborn==0.11.2
